	
	<main class="h-auto flex flex-col">
		<section>
			<div class="w-full h-48 flex justify-center items-center text-6xl font-serif">
				<h1>BEBIDAS</h1>
			</div>
			<div class="w-auto h-auto flex justify-center px-24 mb-20">
				<div class="grid w-full h-full grid-cols-3 gap-4 justify-items-center">
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex justify-center flex-col items-center">
							<div class="flex justify-center items-center w-48">
								<img src="/img/expresso.png" alt="" width="200" height="200">
							</div>
							<div class="flex flex-col justify-center items-end">
								<h1 class="text-2xl font-serif">Expresso</h1>
								<h1 class="text-xl font-serif w-full flex justify-center">$100</h1>
							</div>
						</div>
					</div>
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex justify-center flex-col items-center">
							<div class="flex justify-center items-center">
								<img src="/img/latte.png" alt="" width="200" height="200">
							</div>
							<div>
								<h1 class="text-2xl font-serif">Latte</h1>
								<h1 class="text-xl font-serif">$100</h1>
							</div>
						</div>
					</div>
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex flex-col items-center">
							<img src="/img/lattefrio.png" alt="" width="200" height="200">
							<h1 class="text-2xl font-serif">Latte Frío</h1>
							<h1 class="text-xl font-serif">$100</h1>
						</div>
					</div>
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex flex-col items-center">
							<img src="/img/americano.png" alt="" width="200" height="200">
							<h1 class="text-2xl font-serif">Americano</h1>
							<h1 class="text-xl font-serif">$100</h1>
						</div>
					</div>
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex flex-col items-center">
							<img src="/img/cappuccino.png" alt="" width="200" height="200">
							<h1 class="text-2xl font-serif">Cappuccino</h1>
							<h1 class="text-xl font-serif">$100</h1>
						</div>
					</div>
					<div class="flex justify-center items-center p-4 h-72 w-72 hover:shadow-xl transition-shadow duration-300 rounded-xl">
						<div class="flex flex-col items-center">
							<img src="/img/frappe.png" alt="" width="200" height="200">
							<h1 class="text-2xl font-serif">Frappe</h1>
							<h1 class="text-xl font-serif">$100</h1>
						</div>
					</div>				
				</div>
			</div>
		</section>
	</main>

