<div>
    <footer class="bg-[#1F1818] h-[12rem] w-full flex justify-around">
        <div class="w-3/4 flex justify-around items-center text-[#D99246]">
            <button class="cursor-pointer">NOSOTROS</button>
            <h1>PROYECTO 1</h1>
            <h1>SERVICIOS CLOUDS</h1>
        </div>
    </footer>
</div>