---

---

<div>
  <header
    class="bg-[#1F1818] h-[5.31rem] w-full flex justify-between items-center"
  >
    <div class="flex justify-items-start items-center w-[9vh] gap-2 ml-7">
      <a href="/Web_Estatica_Cloud/Home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="40px"
          viewBox="0 -960 960 960"
          width="40px"
          fill="#e3e3e3"
          ><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"
          ></path></svg
        >   
      </a>
      <img src="/public/Logo_Blanco-02.png" alt="Logo" />
    </div>
    <div class="flex justify-end flex-nowrap items-center space-x-4">
      <a href="/Web_Estatica_Cloud/Home">
        <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white"
          >INICIO</button
        >
      </a>
      <a href="/Web_Estatica_Cloud/bebida">
        <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white"
          >BEBIDAS</button
        >
      </a>
      <a href="/Web_Estatica_Cloud/postre">
        <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white"
          >POSTRES</button
        >
      </a>
    </div>
  </header>
</div>
