---
---

<div>
    <header class="bg-[#1F1818] h-[5.31rem] w-full flex">
        <div class="w-1/2">
            logo

        </div>
        <div class="w-1/2 flex justify-around items-center">
            <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white">INICIO</button>
            <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white">BEBIDAS</button>
            <button class="w-[10rem] h-12 text-2xl cursor-pointer text-white">POSTRES</button>
        </div>
    </header>
</div>